#content-about{
  position: relative;
  margin-bottom: -80px;
  .container{
    margin-bottom: 100px;
  }
}
.about-slider{
  height: 90vh;
  video{
    width: 100%;
  }
}
.pagerstyle{
  width: 80%;
  padding: 25px;
  background: #fff;
  .title{
    text-shadow: #bbb 1.5px 1.5px 1.5px;
    color:#626262;
    font-size:2rem;
    margin: 0 18px 18px 18px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 350;
  }
  hr{
    margin:10px 0 25px 0;
    height: 2px;
    background:#e8d675;
    border: none;
  }
  p{
    font-weight: 400; 
    line-height: 25px;
  }
}
.qrcode{
  width: 130px;
  img{
    width: 100%;
  }
}

.content-content{
  display: flex;
  .contact-info{
    padding-left: 20px;
    width: 50%;
  }
  .mapview{
    width: 50%;
  }
  .contact-info-title{
    margin-bottom: 8px;
    font-size: 25px;
    font-weight: 600;
    color: #d6b365;
  }
  .contact-info-content{
    span{
      display: block;
    }
  }
}

@media all and (max-width:520px){
  #content-about{
    margin-top: 0;
  }
}